<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="fragment/layoutAdmin">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>答疑系统后台管理</title>
	</head>
	<body>

	<div layout:fragment="pagemain">
			<!--内容-->
		<div class="pager_main">
	<!--面包屑导航-->	
	<ol class="breadcrumb" >
		<li><a href="#">管理首页</a></li>
			<li><a href="#">栏目</a></li>
				<li><a href="#">增加栏目</a></li>
	</ol>
	

	
	<div class="row">
		<div class="col-xs-12">
				<div class="panel panel-default">
			<div class="panel-heading">问题列表</div>
			<div class="panel-body ">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>问题名称</th>
							<th>赞次数</th>
							<th>踩次数</th>
							<th>分类</th>
							<th>是否加精</th>
							<th>级别</th>
							<th>是否回复</th>
							<th>操作</th>
						</tr>
					</thead>
					
					<tbody id="tab">


					</tbody>
				</table>
				<nav class="pull-right" >
  <ul class="pagination" id="pagination1" style="margin-top: 5px;">
  </ul>
</nav>
				<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

				<script type="text/javascript" th:src="@{/js/jqPaginator.js}"></script>
				<script type="text/javascript">
                    $.jqPaginator('#pagination1', {
                        totalPages: 10,
                        visiblePages: 10,
                        currentPage: 1,
                        prev: '<li class="prev"><a href="javascript:;">Previous</a></li>',
                        next: '<li class="next"><a href="javascript:;">Next</a></li>',
                        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
						/*  <![CDATA[*/
                        onPageChange: function (num, type) {
                            $.ajax({


                                url: "/question/ajaxList/?currPage="+num,
                                type: "get",
                                success: function (data) {

                                    $('#pagination1').jqPaginator('option', {
                                        currentPage: data.currentPage,
                                        totalPages: data.totalCount
                                    });
                                    $("#tab").html('<div></div>');

                                    for (var i = 0; i < data.data.length; i++) {

                                        if(data.data[i].isCream==false){
                                            var isCream='否';
                                        }else{
                                            var isCream='是';
                                        }

                                        if(data.data[i].questionDesc==true){
                                            var questionDesc='否';
                                        }else{
                                            var questionDesc='是';
                                        }


                                        $("#tab").append(
                                        '<tr><td>'+data.data[i].questionId+'</td>' +
                                        '<td>'+data.data[i].title+'</td>' +
                                        '<td>'+data.data[i].goodNum+'</td>' +
                                        '<td>'+data.data[i].badNum+'</td>' +
                                        '<td>'+data.data[i].courseName+'</td>' +
                                        '<td>'+isCream+'</td>' +
                                        '<td>'+data.data[i].levelDesc+'</td>' +
                                        '<td>'+questionDesc+'</td>' +
                                        '<td>' +
                                        '<a href=\"/edit?questionId='+data.data[i].questionId+'\" class="btn btn-info">编辑回复</a>' +
                                        '&nbsp;<a href=\"/question/delete?questionId='+data.data[i].questionId+'\" class="btn btn-info">删除</a> ' +
                                        '<a href=\"/addCream?questionId='+data.data[i].questionId+'&current='+num+'\" class="btn btn-info">加精</a>' +
                                        '<a href=\"/CanceCream?questionId=+'+data.data[i].questionId+'&current='+num+'\" class="btn btn-info">取消加精</a></td></tr>')
                                    }




                                }
                            });


                        }

						/* ]]>*/
                    });


				</script>



			</div>
			
			
		</div>
		</div>
	</div>	
		</div>
	</div>
	</body>
</html>
