<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/layout">
	<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>登录页面</title>
	</head>
	<body>
				<!--
        	作者：offline
        	时间：2017-03-28
        	描述：head begin
        -->

                <div layout:fragment="content">

    <div  class="container" style="margin-top: 60px;width: 800px;height: 600px;">
    	<div class="row">
    		<div class="col-md-12">
    			<h1 style="text-align: center;">欢迎进入南昌航空大学在线答疑系统</h1>
    		</div>
    		
    		<div class="col-md-12">
    			<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
    <div class="col-sm-10">
      <input  class="form-control" id="inputEmail3" placeholder="账号"/>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"/> 记住密码
        </label>
      </div>
    </div>
  </div>
 
 <div class="form-group">
 <label class="col-sm-2 control-label">选择身份</label>
    <div class="col-sm-10">
    	<select class="form-control">
    			<option>教师</option>
    				<option>学生</option>	
    		</select>
    
    </div>
  </div>
 
 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
    <a  class="btn btn-default" href="admin.html">登录</a>
    </div>
    
      <div class="col-sm-9">
      <button type="submit" class="btn btn-default">注册</button>
    </div>
    
    
  </div>
</form>
    		</div>
    		
    	</div>
    	
    </div>
    
    
    
    
                </div>
		
	</body>
</html>
