<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="fragment/layoutAdmin">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>答疑系统后台管理</title>
	</head>
	<body>

	<div layout:fragment="pagemain">

		<div class="pager_main">
			<!--面包屑导航-->
			<ol class="breadcrumb" >
				<li><a href="#">管理首页</a></li>
				<li><a href="#">栏目</a></li>
				<li><a href="#">增加栏目</a></li>
			</ol>



			<div class="row" th:object="${question}">
				<div class="col-md-12">
					<h3 style="text-align: center;" th:text="*{title}">java环境的配置</h3>
				</div>
				<!--
                    作者：offline
                    时间：2017-03-29
                    描述：信息
                -->
				<div class="col-md-3"><h6 style="text-align: center;" th:text="*{time}"></h6></div>
				<div class="col-md-3"><h6 style="text-align: center;" th:text="*{personName}">提问人：黄同学</h6></div>
				<div class="col-md-3"><h6 style="text-align: center;" th:text="*{courseName}"></h6></div>
				<div class="col-md-3"><h6 style="text-align: center;" th:text="*{levelDesc}">提问人：黄同学</h6></div>
				<!--
                    作者：offline
                    时间：2017-03-29
                    描述：内容
                -->
				<div class="col-md-12">
					<h4>问题描述</h4>
					<div style="background-color:lightgray; width: 100%;">
						<div style="padding: 20px 5px 5px 20px;">
							<div th:utext="*{content}"></div>
						</div>
					</div>

				</div>

				<!--
                    作者：offline
                    时间：2017-03-29
                    描述：回复
                -->
				<div class="col-md-12" style="margin-top: 20px;">
					<form method="post" th:action="@{/doEdit}">

						<textarea name="questionDesc"  th:field="*{questionDesc}" id="summernote"></textarea>
                        <input type="hidden" name="questionId"   th:field="*{questionId}"/>


						<button class="btn btn-default">提交</button>



                    </form>
				</div>


			</div>


		</div>



	</div>
	</body>
</html>
