<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nchu.mapper.UserMapper"><!-- Mapper接口类所在的包一致-->

    <!--id处填上UserMapper的接口的方法名-->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="uId">
        INSERT INTO user(u_id,college,gender,permission,sign_date,tag,u_name,u_no) VALUES(#{uId},#{college},#{gender},#{permission},#{signDate}, #{tag},#{uName},#{uNo})
    </insert>

    <update id="update" parameterType="User">
        UPDATE user SET u_id=#{uId},college=#{college},gender=#{gender},permission=#{permission},sign_date=#{signDate},tag=#{tag},u_name=#{uName},u_no=#{uNo} WHERE u_id=#{UId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM user WHERE u_id=#{uId}
    </delete>

    <select id="selectUserById" resultType="User">
        select * from user where u_id = #{uId}
    </select>

    <select id="selectAll" resultType="User">
        SELECT u_id,college,gender,permission,sign_date,tag,u_name,u_no FROM user
    </select>


</mapper>