<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/layout">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>
</head>

<body>
<div layout:fragment="content">
    <!--
            作者：offline
            时间：2017-03-28
            描述：head begin
        -->

    <div class="container" style="margin-top: 55px;">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active">问题列表</li>
        </ol>

        <!--
            作者：offline
            时间：2017-03-29
            描述：路径导航结束
        -->

        <!--
            作者：offline
            时间：2017-03-29
            描述：提问与推荐列表
        -->
        <div class="row">
            <div class="col-md-9">
                <div style="align-content:space-between;background-color:lightgray; padding: 5px;height: 150px; ">
                    <h4>精品推荐<p id="courseId" th:text="${courseId}" style="display: inline-block;visibility: hidden
"></p></h4>
                    <ol id="t1">

                    </ol>
                    <div style="align-content:space-between;background-color:lightgray;" class="pull-right">
                        <span id="s1"></span>  <span id="s2"></span>
                        <a href="#" id="csyy">上一页</a>
                        <a href="#" id="cxyy">下一页</a>
                    </div>
                    <script type="text/javascript">
                        /*  <![CDATA[*/
                        var a = 1;
                        $('#s1').html("当前在"+a+"页");

                        $.ajax({
                            url: "/question/Course/cream/ajaxList?currPage=" + 1+"&courseId="+$('#courseId').text(),
                            type: "get",
                            success: function (data) {
                                $('#s2').html("总共"+data.totalCount+"页");
                                $("#t1").html('<div></div>');
                                for (var i = 0; i < data.data.length; i++) {
                                    $("#t1").append(
                                        '<li><a href=\"/question/detail/' + data.data[i].questionId + '\" style=\"display: block;\">' + data.data[i].title + '</a></li>'
                                    )
                                }

                            }
                        })


                        $(function () {

                            $("#csyy").click(function () {
                                if (a <= 1) {
                                    alert("已经没有上一页了");
                                } else {
                                    a = a - 1;
                                    $('#s1').html("当前在"+a+"页");
                                    $.ajax({
                                        url: "/question/Course/cream/ajaxList?currPage=" + a+"&courseId="+$('#courseId').text(),
                                        type: "get",
                                        success: function (data) {
                                            $("#t1").html('<div></div>');
                                            for (var i = 0; i < data.data.length; i++) {
                                                $("#t1").append(
                                                    '<li><a href=\"/question/detail/' + data.data[i].questionId + '\" style=\"display: block;\">' + data.data[i].title + '</a></li>'
                                                )
                                            }


                                        }
                                    })

                                }


                            })

                            $("#cxyy").click(function () {
                                a = a + 1;
                                $.ajax({
                                    url: "/question/Course/cream/ajaxList?currPage=" + a+"&courseId="+$('#courseId').text(),
                                    type: "get",
                                    success: function (data) {

                                        if(a>data.totalCount){

                                            a=a-1;

                                            alert("已经是最后一页了！");
                                        }else{
                                            $('#s1').html("当前在"+a+"页");
                                            $("#t1").html('<div></div>');
                                            for (var i = 0; i < data.data.length; i++) {
                                                $("#t1").append(
                                                    '<li><a href=\"/question/detail/' + data.data[i].questionId + '\" style=\"display: block;\">' + data.data[i].title + '</a></li>'
                                                )
                                            }

                                        }






                                    }
                                })


                            })
                        })

                        /* ]]>*/
                    </script>
                </div>
            </div>


            <div class="col-md-3">
                <div>
                    <a href="#" th:href="@{/submit}" class="btn btn-info"
                       style="width: 100%; height: 150px; padding: 20px;"><span class="glyphicon glyphicon-edit" style="font-size: 50px;"></span>
                        <p style="font-size: 50px;">提问</p></a>
                </div>

            </div>
        </div>


        <!--
            作者：offline
            时间：2017-03-29
            描述：提问与推荐列表结束
        -->

        <!--
            作者：offline
            时间：2017-03-29
            描述：问题列表开始
        -->
        <nav class="panel panel-default" style="margin-top:20px;">
            <!-- Default panel contents -->

            <div class="panel-heading" style="margin-top: 15px;">问题列表</div>
            <div class="panel-body">
                <!-- Table -->
                <table id="tab" class="table  table-hover">




                </table>
            </div>

            <!--
                作者：offline
                时间：2017-03-29
                描述：分页
            -->
            <nav class="pull-right">
                <ul class="pagination" id="pagination1"><!--分页导航 pagination  &laquo;箭头图标-->
                </ul>
            </nav>

            <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

            <script type="text/javascript" th:src="@{/js/jqPaginator.js}"></script>
            <script type="text/javascript">
                $.jqPaginator('#pagination1', {
                    totalPages: 10,
                    visiblePages: 10,
                    currentPage: 1,
                    prev: '<li class="prev"><a href="javascript:;">Previous</a></li>',
                    next: '<li class="next"><a href="javascript:;">Next</a></li>',
                    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                    /*  <![CDATA[*/
                    onPageChange: function (num, type) {
                        $.ajax({
                            url: "/question/ajaxList/?courseId="+$('#courseId').text()+"&currPage="+num,
                            type: "get",
                            success: function (data) {

                                $('#pagination1').jqPaginator('option', {
                                    currentPage: data.currentPage,
                                    totalPages: data.totalCount
                                });
                                $("#tab").html(
                                '<thead><td>序号</td><td>问题名称</td> <td>提问人</td> <td>答疑老师</td> <td>浏览次数</td> <td>点赞次数</td> <td>踩次数</td> </thead>'
                                );



                                for (var i = 0; i < data.data.length; i++) {
                                    $("#tab").append(
                                        '<tr>' +
                                        '<td>' + data.data[i].questionId + '</td>' +
                                        '<td><a href=\"/question/detail/' + data.data[i].questionId + '\">' + data.data[i].title + '</a></td>' +
                                        '<td><span class=\"glyphicon glyphicon-user\"></span><p style=\"display: inline-block\" >'+data.data[i].personName+'</p></td>'+

                                        '<td><span class=\"glyphicon glyphicon-education\"></span> <p style=\"display: inline-block\">'+data.data[i].techerName+'</p></td>'+

                                        '<td><span class=\"glyphicon glyphicon-eye-open\"></span><p style=\"display: inline-block\">'+data.data[i].visitNum+'</p></td>'+
                                        '<td><span class=\"glyphicon glyphicon-thumbs-up\"></span> <p style=\"display: inline-block\">'+data.data[i].goodNum+'</p></td>'+
                                        '<td><span class=\"glyphicon glyphicon-thumbs-down\"></span> <p style=\"display: inline-block\">'+data.data[i].badNum+'</p></td>'+


                                        '</tr>');

                                }




                            }
                        });


                    }

                    /* ]]>*/
                });


            </script>

        </nav>


    </div>

</div>

</body>

</html>