<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/layout">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container" style="margin-top: 55px;">
        <!--
       作者：offline
       时间：2017-03-29
       描述：路径导航
   -->
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">java</a></li>
            <li><a href="#">初级</a></li>
            <li class="active">问题列表</li>
            <li class="active">1.java环境配置</li>
        </ol>

        <!--
       作者：offline
       时间：2017-03-29
       描述：路径导航结束
   -->

        <!--
            作者：offline
            时间：2017-03-29
            描述：问题内容页面
        -->
        <div class="row" th:object="${question}">
            <!--
                作者：offline
                时间：2017-03-29
                描述：标题
            -->
            <div class="col-md-12">
                <h1 style="text-align: center;">
                    <div th:text="*{title}"></div><p style="visibility: hidden" id="questionId" th:text="*{questionId}"></p>
                </h1>
            </div>
            <!--
                作者：offline
                时间：2017-03-29
                描述：信息
            -->
            <div class="col-md-4"><span>发布时间:</span><span style="text-align: center;" th:text="*{time}">2017/3/27 21:00</span></div>
            <div class="col-md-4"><span>提问人:</span><span style="text-align: center;" th:text="*{personName}">黄同学</span></div>
            <div class="col-md-4"><span>答疑教师:</span><span style="text-align: center;" th:text="*{techerName}">胡老师</span></div>
            <!--
                作者：offline
                时间：2017-03-29
                描述：内容
            -->

            <div class="col-md-12">
                <div style="background-color:lightgray; width: 100%;">
                    <div style="padding: 20px 5px 5px 20px;">
                        <div th:utext="*{content}"></div>
                    </div>

                    <div th:if="${question.questionDesc!=NullPointerException}">

                        <h3>老师的回复：</h3>
                        <div style="padding: 20px 5px 5px 20px;">
                            <div th:utext="*{questionDesc}"></div>
                        </div>
                    </div>


                </div>

            </div>
            <!--
            作者：offline
            时间：2017-03-29
            描述：问题内容页结束
        -->

            <!--
                作者：offline
                时间：2017-03-29
                描述：点赞行
            -->
            <div class="col-md-2 col-md-offset-6">
                <span>访问量:</span> <span class="glyphicon glyphicon-eye-open" th:text="*{visitNum}"></span>
            </div>

            <div class="col-md-2">
                <span>点此点赞:</span><span id="btnGood"  class="glyphicon glyphicon-thumbs-up"></span><span id="goodnum" th:text="*{goodNum}"></span>
            </div>

            <div class="col-md-2">
                <span>点此差评:</span><span id="btnBad" class="glyphicon glyphicon-thumbs-down" ></span><span id="badnum" th:text="*{badNum}"></span>
            </div>
            <script>
                var aa=0;
                var bb=0;
                /*  <![CDATA[*/
                $("#btnGood").bind("click",function(){

                    $.ajax({
                        url: "/question/ajax/GoodOrBad?questionId="+$('#questionId').text()+"&key=1&goodNum="+$('#goodnum').text(),
                        type: "get",
                        processData: false,  // 不处理数据
                        contentType: false,   // 不设置内容类型
                        success: function (fd) { //返回json结果

                            if(fd==-1){
                                alert("登陆后才能点赞噢");
                            }


                            if(fd>0){
                                $('#goodnum').text(fd);
                                if(aa==0){
                                    $("#btnGood").css("background-color","#9d9d9d");
                                    aa++;
                                }else{
                                    $("#btnGood").css("background-color","white");
                                    aa--;
                                }

                            }

                        }
                    });

                })



                $("#btnBad").bind("click",function(){

                    $.ajax({
                        url: "/question/ajax/GoodOrBad?questionId="+$('#questionId').text()+"&key=0&badNum="+$('#badnum').text(),
                        type: "get",
                        processData: false,  // 不处理数据
                        contentType: false,   // 不设置内容类型
                        success: function (fd) { //返回json结果

                            if(fd==-1){
                                alert("登陆后才能给差评啦");
                            }


                            if(fd>0){
                                $('#badnum').text(fd);
                                if(bb==0){
                                    $("#btnBad").css("background-color","#9d9d9d");
                                    bb++;
                                }else{
                                    $("#btnBad").css("background-color","white");
                                    bb--;
                                }


                            }


                        }
                    });

                })


                /* ]]>*/
            </script>
            <!--
                作者：offline
                时间：2017-03-29
                描述：评论行
            -->
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-top:20px;">
                    <!-- Default panel contents -->

                    <div class="panel-heading" style="margin-top: 15px;">评论列表</div>
                    <nav class="panel-body" id="tab">

                    </nav>
                    <nav class="pull-right">
                        <ul class="pagination" id="pagination1"><!--分页导航 pagination  &laquo;箭头图标-->

                        </ul>
                    </nav>


                    <script type="text/javascript" th:src="@{/js/jqPaginator.js}"></script>
                    <script type="text/javascript">
                        /*  <![CDATA[*/
                        $.jqPaginator('#pagination1', {
                            totalPages: 10,
                            visiblePages: 10,
                            currentPage: 1,
                            prev: '<li class="prev"><a href="javascript:;">Previous</a></li>',
                            next: '<li class="next"><a href="javascript:;">Next</a></li>',
                            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',

                            onPageChange: function (num, type) {
                                $.ajax({
                                    url: "/comment/ajaxList/?questionId="+$('#questionId').text()+"&currPage="+num,
                                    type: "get",
                                    success: function (data) {

                                        $('#pagination1').jqPaginator('option', {
                                            currentPage: data.currentPage,
                                            totalPages: data.totalCount
                                        });

                                        $("#tab").html('<div></div>');

                                        for (var i = 0; i < data.data.length; i++) {
                                            $("#tab").append(

                                                '<span class=\"glyphicon glyphicon-user\">'+data.data[i].personName+'</span>'+
                                                '<div>'+data.data[i].content+'</div>'+
                                                '<div class=\"col-md-2 col-md-offset-6\">' +
                                                '点赞：<span class=\"glyphicon glyphicon-thumbs-up\" id=\"cbtgood'+data.data[i].commentId+'" onclick=\"Comm(1,'+data.data[i].commentId+')\"><span id=\"cgood'+data.data[i].commentId+'\">'+data.data[i].goodNum+'</span></span>' +
                                                '</div>'
                                                + '<div class=\"col-md-2\">' +
                                                '差评：<span class=\"glyphicon glyphicon-thumbs-down\" id=\"cbtbad'+data.data[i].commentId+'\" onclick=\"Comm(0,'+data.data[i].commentId+')\"><span id=\"cbad'+data.data[i].commentId+'\">'+data.data[i].badNum+'</span></span>'+
                                                '</div>'+
                                                '<div class=\"col-md-2\">'
                                                +'<button type="button"  onclick=\"DelComment('+data.data[i].commentId+')\" class=\"close\"><span aria-hidden=\"true\">&times;</span></button>'
                                               + '</div>'
                                                +'<HR style=\"FILTER: alpha(opacity=100,finishopacity=0,style=3)\" width=\"100%\" color=#987cb9 SIZE=3>'
                                            );

                                        }




                                    }
                                });


                            }


                        });


                        var cc=0;
                        var dd=0;
                        function Comm(flag,id) {

                            var num;
                            if (flag == 1) {

                                var name='#cgood'+id;
                                num=$(name).text();
                            }else{

                                var name1='#cbtbad'+id;
                                num=$(name1).text();

                            }



                            $.ajax({
                                url: "/comment/ajax/GoodOrBad?commentId=" +id+ "&op=" + flag+"&num="+num,
                                type: "get",
                                success: function (fd) {

                                    if(fd==-1){
                                        alert("登陆后才能给差评啦");
                                    }


                                    if(fd>=0){
                                        if (flag == 1) {

                                            var name='#cgood'+id;
                                            $(name).text(fd);
                                            if(cc==0){
                                                var name2='#cbtgood'+id;
                                                $(name2).css("background-color","#9d9d9d");
                                                cc++;
                                            }else{
                                                var name2='#cbtgood'+id;
                                                $(name2).css("background-color","white");
                                                cc--;
                                            }
                                        } else {
                                            if(dd==0){
                                                var name1='#cbtbad'+id;
                                                $(name1).css("background-color","#9d9d9d");
                                                dd++;
                                            }else{
                                                var name1='#cbtbad'+id;
                                                $(name1).css("background-color","white");
                                                dd--;
                                            }
                                            var name='#cbad'+id;
                                            $(name).text(fd);
                                        }



                                    }

                                }

                            });
                        }




                        function DelComment(Id) {


                            $.ajax({
                                url: "/comment/ajax/delete?commentId="+Id,
                                type: "get",
                                success: function (fd) {

                                    if (fd == -1) {
                                        alert("登陆后才能删除");
                                    }

                                    if (fd == 1) {
                                        alert("删除成功");
                                        location.reload();

                                    }
                                    if (fd == -2) {
                                        alert("只能删除自己的评论噢");
                                    }
                                    if (fd == 0) {
                                        alert("服务器异常，请重试");
                                    }

                                }
                            });


                        }




                        /* ]]>*/
                    </script>



                    <!--
                        作者：offline
                        时间：2017-03-29
                        描述：分页结束
                    -->
                </div>
            </div>
        </div>

        <!--
            作者：offline
            时间：2017-03-29
            描述：评论行
        -->

        <div class="col-md-12">
            <form method="post" th:action="@{/comment/submit}">
                <input name="questionId" type="hidden" th:value="${question.questionId}" />
                <input name="courseId" type="hidden" th:value="${question.courseId}" />

                <textarea name="content"  id="summernote"></textarea>

                <button class="btn btn-default" type="submit">提交</button>

            </form>

        </div>

    </div>


</div>
</body>

</html>